<form {{action 'search' on='submit'}}>
  {{input value=searchTerm type='search' placeholder='Search…'}}
</form>

{{#if hits.total}}
  Treffer total: {{hits.total}}
  <ul>
    {{#each hits.hits}}
        <li>
          <div>
            <div>
              <a href='{{unbound _source.url}}' target='_blank'>
                Betreff: {{_source.betreff}}
              </a>
              <span>&nbsp;(Score: {{_score}})</span>
            </div>
            {{#with _source}}
              <div>Datum: {{datum}}</div>
              <div>DSNR: {{dsnr}}</div>
              <div>Stand: {{stand}}</div>
              <div>Text: {{text}}</div>
            {{/with}}
          </div>
        </li>
    {{/each}}
  </ul>
{{else}}
  {{#if q}}
    Keine Treffer
  {{/if}}
{{/if}}
